openapi: 3.1.0
info:
  title: The Speakeasy Bar
  version: 1.0.0
servers:
  - url: https://speakeasy.bar
    description: The production server
  - url: https://speakeasy.bar/testing
    description: The testing server
security:
  - apiKey: []
paths:
  /drinks:
    get:
      tags:
        - drinks
      operationId: listDrinks
      summary: Get a list of drinks
      responses:
        "200":
          description: A list of drinks
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Drink"
              examples:
                exampleResponse:
                  summary: Example response for a list of drinks
                  value:
                    drinks:
                      - name: "Coffee"
                        price: 2.5
                      - name: "Tea"
                        price: 1.8
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequest"
components:
  schemas:
    Drink:
      type: object
      title: Drink
      properties:
        name:
          type: string
        price:
          type: number
      description: A response containing a list of drinks.
    BadRequest:
      type: object
      title: BadRequest
      properties:
        error:
          type: string
        message:
          type: string
  securitySchemes:
    apiKey:
      type: apiKey
      name: Authorization
      in: header
